<nav class="horizontal-nav">
  <ul>
    <li><a href="index.html" class="gradient-shadow">Home</a></li>
    <li><a href="about.html" class="gradient-shadow">About</a></li>
    <li><a href="portfolio.html" class="gradient-shadow">Portfolio</a></li>
    <li><a href="cv.html" class="gradient-shadow">CV</a></li>
    <li><a href="contact.html" class="gradient-shadow">Contact</a></li>
    <li><a href="blog.html" class="gradient-shadow">Blog</a></li>
    <li><a href="cv-section-tsx" class="gradient-shadow">Timeline</a></li>
  </ul>
</nav>
